.jp {
    display: none;
}

.popup_btn {
    margin: 5px;
}
#menu {
    height: 14vh;
}

#description {
    height: 30vh;
}

#editorMain {
    height: 73vh;
}

#output {
    height: 10vh;
}

#file-form {
    height: 5vh;
}

#display {
    width: 100%;
    height: 95vh;
    border: 1px black solid;
}

.ace_gutter-cell.ace_breakpoint{ 
    border-radius: 20px 0px 0px 20px; 
    box-shadow: 0px 0px 1px 1px red inset; 
} 
